/* TEXT*/
.big-text {
  font-size: 5vw;
  /* Adjust the size as needed */
}

.bigger-text {
  font-size: 175%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#images {
  margin: 0 auto;
  /* Center the container horizontally */
  width: fit-content;
  /* Set the container width to fit its content */
}

.image-container img {
  display: block;
  /* Make the images block elements */
  margin: 0 auto;
  /* Center the images horizontally */
  max-width: 5%;
  /* Ensure images don't exceed their container width */
  height: auto;
  /* Maintain aspect ratio */
}

.light-theme {
  background: #cac3c3;
}

.services-light-theme {
  background: #cac3c3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* MENU */
.menu {
  position: fixed;
  /* Set header to a fixed position */
  top: 0;
  /* Align header to the top of the viewport */
  width: 100%;
  /* Make header span the full width of the viewport */
  background-color: #dbdada;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  display: inline-block;
  position: relative;
}

.menu ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

.menu ul li:hover>.dropdown-content {
  display: block;
}




.dropbtn {
  background-color: #dbdada;
  color: rgb(230, 211, 211);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #696969;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(75, 64, 64, 0.2);
  z-index: 1;
}



.dropdown-content a:hover {
  background-color: #242323;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #363636;
}

/* ACCORDIAN */
.accordion-container {
  float: center;
  width: 50%; /* Adjust width as needed */
}

.accordion {
  float:center;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ddd;
}

.accordion-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: calc(100%);
}

/* Service Picture */
.profile-picture {
  float: center;
  margin-right: 20px;
  border-radius: 100%; /* Makes the image circular */
  overflow: hidden;
  width: 300px; /* Adjust image width */
  height: 300px; /* Adjust image height */
}



h2.center {
  margin-top: 50px; /* Adjust as needed */
  text-align: center;
}

/* Project Gallery Grid */
.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 50%); /* Adjust column width as needed */
  grid-gap: 5px; /* Adjust gap between grid items */
  padding: 70px;
}

.image-grid-item {
  overflow: hidden;
  border-radius: 8px; /* Add border radius for rounded corners */
}

.image-grid-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px; /* Match the border radius of the container */
}

.image1 img {
  width: 100%;
  height: auto;
}

.image2 img {
  width: 350px;
  height: auto;
}

.image3 img {
  width: auto;
  height: 300px;
}

/* Header Left */
.spearhead-link {
  color: #333; /* Set color */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Make text bold */
  margin-right: 20px; /* Add some space between the link and the dropdown */
}

/* Header Right */
.hamburger-icon {
  width: 40px;
  height: 5px;
  background-color: #333;
  margin: 1px;
  transition: 0.4s;
}

.hamburger-icon:before,
.hamburger-icon:after {
  content: '';
  display: block;
  width: 40px;
  height: 5px;
  background-color: #333;
  transition: 0.4s;
}


.toggle-btn.active .hamburger-icon {
  background-color: transparent;
}

.toggle-btn.active .hamburger-icon:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.toggle-btn.active .hamburger-icon:after {
  transform: rotate(45deg) translate(-8px, -6px);
}


.toggle-btn {
  position: relative;
  right: 80%;
}

